STRINGTABLE
BEGIN
  1, "OK"
  2, "Cancel"
  3, "Help"
  4, "Edit"
  5, "Delete"
  6, "Add"
  7, "Sort Depths"
  8, "Delete Line"
  9, "Insert Line"
  10, "Clear All"
  11, "Coarse"
  12, "Medium"
  13, "Fine"
  14, "Tillage"
  15, "Sowing"
  16, "Fertilization"
  17, "Harvest"
  18, "Irrigation"
  19, "Harvest Parameters"
  20, "Parameters"
  21, "File"
  22, "Clear"
  23, "Load"
  24, "Save"
  25, "Save As..."
  26, "Close"
  27, "Help"
  28, "Contents"
  29, "Search for Help on..."
  30, "How to Use Help"
  31, "About"
  32, "Printer Setup"
  33, "Print Action List"
  34, "cm"
  35, "kg"
  36, "kg N"
  37, "ha"
  38, "C"
  39, "%"
  40, "mm"
  41, "About"
  42, "Management Setup"
  43, "Edit Discretization"
  44, "Edit"
  45, "Edit Fertilize Action"
  46, "Global Information Setup"
  47, "Time of Action"
  48, "Edit Harvest Action"
  49, "Edit Irrigation Action"
  50, "Edit Sowing Action"
  51, "Edit Tillage Action"
  52, "Insert New Tillage Action"
  53, "Insert New Sowing Action"
  54, "Insert New Fertilize Action"
  55, "Insert New Harvest Action"
  56, "Soil Profile State Variable Initialization"
  57, "DAISY simulation system"
  58, "Version"
  59, "User Interface"
  60, "Developed by:"
  61, "J&R Informatik I/S"
  62, "KVL"
  63, "Copyright (c) 1998 by:"
  64, "KVL, AFA"
  65, "Depth"
  66, "Manager Heading"
  67, "Fertilizer"
  68, "Amount"
  69, "Total"
  70, "Global Information Heading"
  71, "Latitude (+ : N.hemisphere, - : S.hemisphere)"
  72, "(degrees, minutes)"
  73, "Elevation"
  74, "(meters above sea level)"
  75, "UTM-coordinates or Grid coordinates"
  76, ""
  77, "Average Annual Temperature"
  78, "Average Annual Temperature Amplitude"
  79, "Time type"
  80, "Displacement in Days"
  81, "Actions"
  82, "Date"
  83, "Approx. Date"
  84, "Relative to Action"
  85, "Date"
  86, "Crop"
  87, "Stem"
  88, "Leaf"
  89, "Storage Organs"
  90, "Dead Material"
  91, "Stub not included"
  92, "Amount"
  93, "Overhead Irrigation"
  94, "Use Air temperature"
  95, "Crop"
  96, "Irrigation Model"
  97, "Generate Harvest Actions"
  98, "Harvest Actions"
  99, "No. Years"
  100, "Emergence"
  101, "Flowering"
  102, "Mature"
  103, "Tillage Type"
  104, "*Soil Water Content"
  105, "*Soil Temperature"
  106, "*Soil Nitrate Content"
  107, "*Soil Ammonia Content"
  108, "*Field Capacity"
  109, "*Equilibrium Profile"
  110, "*Potential vs. Depth"
  111, "*Water Content vs. Depth"
  112, "*Temperature vs. Depth"
  113, "*Uniform Profile"
  114, "*Nitrate Concentration vs. Depth"
  115, "*Ammonia Content vs. Depth"
  116, "Line no."
  117, "Action Type"
  118, "Action Specification"
  119, "Time of Action"
  120, "New Action"
  121, "Defined Actions"
  122, "Apply Discretization"
  123, "Edit Discretization"
  124, "Fertilization Parameters"
  125, "Harvest Parameters"
  126, "Irrigation Parameters"
  127, "Sowing Parameters"
  128, "Development Stage"
  129, "Afdelingen for Arealanvendelse (AFA)"
  130, "Date of Start Action"
  131, "Date of End Action"
  132, "List of Actions"
  133, "Page"
  134, "yyyy"
  135, "mm"
  136, "dd"
  137, "Standard Reference Library"
  138, "User Reference Library"
  139, "Standard Template Library"
  140, "User Template Library"
  141, "Simulation Specific Library"
  142, "Error: "
  143, "Error loading from library."
  144, "Please report to program developer."
  145, "Tilt! ''Count'' = "
  146, " and ''selrow'' = "
  147, "The discretization contains invalid depth definitions"
  148, "The lines"
  149, "has invalid floating point numbers."
  150, "Use only real or integer numbers > 0 as depths."
  151, "The depths in lines"
  152, "are below the deepest horizon."
  153, "Use only depths shallower than the deepest horizon (which is at"
  154, "cm)."
  155, "Date could not be set."
  156, "Both the ''Year'', ''Month'' and the ''Date'' part must contain a value, or all must be left blank."
  157, "The entered date is not a valid date."
  158, "You must provide a manager heading."
  159, "Manager heading is allready used."
  160, "Manager"
  161, "allready exists in the Simulation Specific Library."
  162, "Manager"
  163, "allready exists in the User Template Library."
  164, "Manager"
  165, "Please enter a different Manager Heading before chosing <OK>."
  166, ""
  167, "allready exists in the Simulation Specific Library."
  168, "allready exists in the User Template Library."
  169, "Please enter a different Horizon Heading before chosing <OK>."
  170, "The Profile could not load."
  171, "The problem may be that it referres to horizons not available in the library."
  172, "Please enter a different Profile Heading before chosing <OK>."
  173, "Error resetting discretization. Discretization set to zero."
  174, "Please enter a different Global Information Heading before chosing <OK>."
  175, "Number must be positive."
  176, "Number must be positive or zero."
  177, "A fraction must be in [0.0, 1.0]."
  178, "Not a valid fraction!"
  179, "A fraction must be in the interval [0.0, 1.0], using the systems national decimal point"
  180, "Invalid Date"
  181, "Both the ''Year'', ''Month'' and the ''Date'' part must contain a value, or all must be left blank."
  182, "The entered date is not a valid calendar date."
  183, "Number is too big after conversion."
  184, "Amount must be a number or must be left empty."
  185, "Warning: "
  186, "Other actions depend on this action."
  187, "Loading a new Manager will cause all unsaved data to be lost."
  188, "Select <OK> to load a new manager, or <Cancel> to regret."
  189, "Clearing the Manager will cause all unsaved data to be lost."
  190, "Select <OK> to clear the manager, or <Cancel> to regret."
  191, "A valid heading must be entered before selecting <OK>."
  192, "Horizon"
  193, "Manager"
  194, "Global Information"
  195, "Profile"
  196, "Select <OK> to do it, or <Cancel> to regret."
  197, "This action will clear all defined depths, except for the ones defined in the profile."
  198, "allready exists in the"
  199, ", and cannot be overwritten."
  200, "Overwrite?"
  201, "The following actions will be deleted:"
  202, "The following actions will have the ''Time of Action'' reset:"
END

DraabeX BITMAP draabex.bmp
DraabeY BITMAP draabey.bmp
OKIco	ICON	jjok.ico







